.app {
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.ui.main.container {
  margin-top: 6em;
  margin-bottom: 5em;
}

.form {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  text-align: left;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.homeImage {
  background-image: url("/src/images/homeImage.jpg");
  width: 1600px;
  height: 500px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: top left;
}